<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrossPlatformAdapter" version="1.0.12" targetFramework="wp80" />
  <package id="GitVersionTask" version="3.1.2" targetFramework="wp80" developmentDependency="true" />
  <package id="Guards" version="1.0.3" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp8" userInstalled="true" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="wp8" userInstalled="true" />
</packages>