# Auto detect text files and perform LF normalization

[attr]utf16 diff merge -crlf

* text=auto

*.ico binary
*.snk binary
*.xls binary

*.bat text
*.config text
*.cs text diff=csharp 
*.csproj text merge=union 
*.fsproj merge=union
*.manifest text
*.msbuild text
*.nuspec utf16
*.resw text merge=union
*.resx text merge=union
*.ruleset text
*.settings text
*.shfb text
*.targets text
*.tdnet text
*.txt text
*.vb text
*.vbproj text merge=union 
*.vsixmanifest text
*.vstemplate text
*.xml text
*.xsl text
*.xslt text

*.sln text eol=crlf merge=union 
