<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <metrolog>
    <root>
      <target-ref ref="DebugTestTarget" />
      <target-ref ref="FileTestTarget" />
      <target-ref ref="JsonPostTestTarget" />
    </root>

    <target name="DebugTestTarget" type="MetroLog.Targets.DebugTarget, MetroLog">
      <logLevelMin value="Trace"/>
      <logLevelMax value="Fatal"/>
      <layout type="MetroLog.Layouts.SingleLineLayout"/>
    </target>

    <target name="FileTestTarget" type="MetroLog.Targets.StreamingFileTarget, MetroLog.Platform">
      <logLevelMin value="Info"/>
      <logLevelMax value="Fatal"/>
      <layout type="MetroLog.Layouts.PatternLayout">
        <pattern value="%timestamp; %level; %logger; %message; %exception[EOL]"/>
      </layout>
    </target>

    <target name="JsonPostTestTarget" type="MetroLog.Targets.JsonPostTarget, MetroLog.Platform">
      <logLevelMin value="Warn"/>
      <logLevelMax value="Fatal"/>
      <uri value="http://metrolog.thomasgalliker.ch/_old_/index.php"/>
      <loggingEnvironment type="MetroLog.LoggingEnvironment, MetroLog.Platform"/>
      <threshold value="5"/>
    </target>

  </metrolog>
</configuration>
